<!-- Header Top Section Start -->
<div class="header-top-section section" data-bg-color="#f5f5f5">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 offset-xl-2">
                <div class="header-top-content">
                    <p>Starts TOMORROW! Our biggest event of the year...</p>
                    <div class="header-top-countdown">
                        <div class="ht-icon"><i class="far fa-clock"></i></div>
                        <div class="countdown-item before-none">
                            <span>00</span>
                        </div>
                        <div class="countdown-item">
                            <span>00</span>
                        </div>
                        <div class="countdown-item">
                            <span>00</span>
                        </div>
                        <div class="countdown-item">
                            <span>00</span>
                        </div>
                    </div>
                    <a class="btn btn-primary btn-hover-secondary btn-xs" href="#">Get ticket</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Header Top Section Start -->

<!-- Header Section Start -->
<div class="header-section sticky-header section">
    <div class="header-inner">
        <div class="container position-relative">
            <div class="row justify-content-between align-items-center">

                <!-- Header Logo Start -->
                <div class="col-xl-3 col-auto">
                    <div class="header-logo">
                        <a href="index.html">
                            <img class="dark-logo" src="assets/images/logo/dark-logo.png" alt="Logo">
                            <img class="light-logo" src="assets/images/logo/light-logo.png" alt="Logo">
                        </a>
                    </div>
                </div>
                <!-- Header Logo End -->

                <!-- Header Main Menu Start -->
                <div class="col d-none d-xl-block position-static">
                    <nav class="site-main-menu menu-hover-1">
                        @@include('header/menu.html')
                    </nav>
                </div>
                <!-- Header Main Menu End -->

                <!-- Header Right Start -->
                <div class="col-xl-3 col-auto">
                    <div class="header-right">
                        <div class="inner">

                            <!-- Header Social Start -->
                            <div class="header-social d-none d-sm-flex">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                                <a href="#"><i class="fab fa-linkedin"></i></a>
                            </div>
                            <!-- Header Social End -->

                            <!-- Header Cart Start -->
                            <div class="header-cart">

                                <a class="header-cart-btn" href="cart.html"><span class="cart-count">2</span><i class="far fa-shopping-cart"></i></a>

                                <!-- Header Mini Cart Start -->
                                <div class="header-mini-cart">
                                    <div class="inner">

                                        <!-- Header Mini Cart Product Start -->
                                        <div class="mini-cart-products">
                                            <div class="mini-cart-product">
                                                <a href="#" class="thumb"><img src="assets/images/products/mini-cart/product-1.jpg" alt=""></a>
                                                <div class="content">
                                                    <a href="#" class="title">Online Student: Strategies for Effective Learning</a>
                                                    <span class="quantity">1 x <span class="price">$67.00</span></span>
                                                </div>
                                                <a href="#" class="remove"><i class="far fa-times"></i></a>
                                            </div>
                                            <div class="mini-cart-product">
                                                <a href="#" class="thumb"><img src="assets/images/products/mini-cart/product-2.jpg" alt=""></a>
                                                <div class="content">
                                                    <a href="#" class="title">Principles of Business Administration</a>
                                                    <span class="quantity">1 x <span class="price">$52.00</span></span>
                                                </div>
                                                <a href="#" class="remove"><i class="far fa-times"></i></a>
                                            </div>
                                        </div>
                                        <!-- Header Mini Cart Product End -->

                                        <!-- Header Mini Cart Footer Start -->
                                        <div class="mini-cart-footer">
                                            <div class="mini-cart-total">
                                                <b>Total:</b>
                                                <span class="amount">$119.00</span>
                                            </div>
                                            <div class="mini-cart-buttons">
                                                <a href="cart.html" class="btn btn-primary btn-hover-secondary">View Cart</a>
                                                <a href="checkout.html" class="btn btn-primary btn-hover-secondary">Checkour</a>
                                            </div>
                                        </div>
                                        <!-- Header Mini Cart Footer End -->
                                    </div>
                                </div>
                                <!-- Header Mini Cart End -->
                            </div>
                            <!-- Header Cart End -->

                            <!-- Header Login Start -->
                            <div class="header-login">
                                <a href="profile.html"><i class="far fa-user-circle"></i></a>
                            </div>
                            <!-- Header Login End -->

                            <!-- Header Fullscreen Search Start -->
                            <button class="header-fs-search-toggle"><i class="far fa-search"></i></button>
                            <!-- Header Fullscreen Search End -->

                            <!-- Header Mobile Menu Toggle Start -->
                            <div class="header-mobile-menu-toggle d-xl-none ml-sm-2">
                                <button class="toggle">
                                    <i class="icon-top"></i>
                                    <i class="icon-middle"></i>
                                    <i class="icon-bottom"></i>
                                </button>
                            </div>
                            <!-- Header Mobile Menu Toggle End -->
                        </div>
                    </div>
                </div>
                <!-- Header Right End -->

            </div>
        </div>
    </div>
</div>
<!-- Header Section End -->

<!-- Full Screen Search Start -->
<div id="fullscreen-search" class="fullscreen-search">
    <div class="fullscreen-search-close">
        <button class="toggle">
            <i class="icon-top"></i>
            <i class="icon-bottom"></i>
        </button>
    </div>
    <div class="fullscreen-search-form">
        <form action="#">
            <input type="text" placeholder="Search...">
        </form>
    </div>
</div>
<!-- Full Screen Search End -->