/* 12.01 About CSS */
.video-section{
    position: relative;
    z-index: 9;
    & .shape {
        position: absolute;
        z-index: -1;

        &-1 {
            top: 0;
            left: 0;
            right: 0;
            text-align: center;
            margin: 0 auto;
        }
    }
}

.agency-list{
    list-style: none;
    padding-left: 0;
    margin-bottom: 35px;
    li{
        display: flex;
        align-items: center;
        & + li{
            margin-top: 10px;
        }
        .icon{
            margin-right: 19px;
            font-size: 15px;
            color: $primary;
        }
    }
}

.video-popup-area{
    position: relative;
    z-index: 9;
    // Responsive
    @media #{$tablet-device}{
        margin-top: 50px;
    }
    @media #{$large-mobile}{
        margin-top: 50px;
    }
    img{
        border-radius: 5px;
    }

    & .shape {
        position: absolute;
        z-index: 1;

        &-1 {
            left: -40px;
            bottom: -60px;
            z-index: -1;
        }
    }
}

.skill-video {
    position: relative;
    z-index: 9;

    display: block;
    overflow: hidden;

    width: 100%;
    margin: auto;

    border-radius: 5px;

    & .image {
        width: 100%;

        transition: all 1.5s cubic-bezier(0, 0, 0.2, 1);
    }

    & .icon {
        position: absolute;
        z-index: 9;
        top: 50%;
        left: 50%;
        width: 90px;
        height: 90px;
        line-height: 90px;
        background-color: rgba(255,255,255,0.8);
        transform: translate(-50%, -50%);
        text-align: center;
        border-radius: 50%;
        i{
            font-size: 24px;
            color: $primary;
        }
    }

    &:hover {
        & .image {
            transform: scale(1.1);
        }
    }
}

.play-btn {
    width: 90px;
    height: 90px;
    line-height: 90px;
    background-color: rgba(255,255,255,0.8);
    text-align: center;
    border-radius: 50%;
    margin: auto;
    transition: $transition;
    i{
        font-size: 24px;
        color: $primary;
    }
    &:hover{
        transform: scale(1.04);
    }
}